<!-- views/allContacts.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   

    <!------ Include the above in your HEAD tag ---------->


</head>

<body>
    <h1>All Contacts</h1>

    <div id=" contactList" class="col-md-6">
        <!-- EJS Placeholder for Contact List -->
        <% if (contacts.length===0) { %>
            <p>No contacts found.</p>
            <% } else { %>
                <ul>
                    <% contacts.forEach(contact=> { %>
                        <li>
                            <p>Name: <%= contact.firstName %>
                                    <%= contact.lastName %>
                            </p>
                            <p>Email: <%= contact.email %>
                            </p>
                            <p>Phone Number: <%= contact.phoneNumber %>
                            </p>
                            <p>Address: <%= contact.address %>
                            </p>
                        </li>
                        <% }); %>
                </ul>
                <% } %>
    </div>



</body>

</html>